<div class="top">
  <div class="titles">
    <h1>Projekt strony.</h1>
    <h5>Z wykorzystaniem nowoczesnych technologii.</h5>
  </div>
</div>

<div class="bottom">
  <div class="card">
    <div class="card-body">
      <p class="font-lg font-grey">Funkcjonalność Strony</p>
      <p class="font-md font-light">
        Jest to projekt strony ze sprzedażą aut używanych. W zakładce "Oferty" znajdziemy wszystkie dodane ogłoszenia.
        Oferty można również filtrować przy użyciu panelu do wyszukiwania. Kliknięcie w link "Dodaj Ogłoszenie" otworzy
        formularz ogłoszenia. Wszystkie pola oraz przynajmniej jedno zdjęcie są wymagane. Linki do zdjęć są dynamicznie
        sprawdzane przed dodaniem.
      </p>

      <p class="font-lg font-grey">Technologie</p>
      <p class="font-md font-light">
        Frontend został wykonany w technologii Angular z użyciem Bootstrap'a, i został postawiony w chmurze Azure.
        Backend został wykonany w technologii Spring Boot z użyciem Spring Data JPA oraz bazą PostgreSQL. Zarówno Spring
        jak i baza zostały postawione na platformie Heroku.
      </p>
    </div>
  </div>
</div>
