.logo {
  height: 30px;
  opacity: 1;
}

.link-white {
  color: white !important;
  width: 170px;
}

.nav-item {
  margin-right: 30px;
}

.navbar-brand {
  margin-left: 30px;
}

@media (max-width: 800px) {
  .navbar-brand {
    margin-left: 0;
  }
}
