.top {
  display: flex;
  align-items: center;
  height: 280px;
  background-image: url("../../../assets/road1.1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.titles {
  padding-left: 100px;
  color: rgb(243, 243, 243);
  font-family: "Antic Slab", serif;
}
.bottom {
  max-width: 1380px;
  margin: auto;
  margin-top: 5px;
}
@media (max-width: 1390px) {
  .bottom {
    max-width: 1080px;
  }
}
@media (max-width: 1100px) {
  .bottom {
    max-width: 700px;
  }
}
@media (max-width: 800px) {
  .bottom {
    max-width: 450px;
  }
}
