<div class="car-container">
  <div class="card">
    <div data-interval="false" [id]="'car' + car.id.toString()" class="carousel slide" data-ride="carousel">
      <ng-container *ngIf="car.pictures.length > 1">
        <ol class="carousel-indicators">
          <li [attr.data-target]="'#' + 'car' + car.id.toString()" data-slide-to="0" class="active"></li>
          <li [attr.data-target]="'#' + 'car' + car.id.toString()" data-slide-to="1"></li>
          <li [attr.data-target]="'#' + 'car' + car.id.toString()" data-slide-to="2"></li>
        </ol>
      </ng-container>
      <div class="carousel-inner">
        <div
          class="carousel-item"
          *ngFor="let picture of car.pictures | slice: 0:3; let i = index"
          [class.active]="i == 0"
        >
          <img #img [src]="picture.url" (error)="img.src = '../../../assets/no-image2.jpg'" />
        </div>
        <div class="carousel-item active" *ngIf="car.pictures.length == 0">
          <img src="../../../assets/no-image2.jpg" />
        </div>
      </div>
      <ng-container *ngIf="car.pictures.length > 1">
        <a class="carousel-control-prev" [href]="'#' + 'car' + car.id.toString()" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" [href]="'#' + 'car' + car.id.toString()" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </ng-container>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-7 font-lg two-lines">
          <p class="font-grey bald">
            {{ car.model.mark.name }}
            {{ car.model.name }}
          </p>
        </div>
        <div class="col-5 d-flex justify-content-end">{{ car.price | price }}</div>
      </div>

      <div class="two-lines font-md font-light description">{{ car.description }}</div>
    </div>
    <ul class="list-group list-group-flush font-sm font-light">
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            {{ car.yearOfProduction }}
          </div>
          <span>|</span>
          <div class="col">{{ car.mileage }} km</div>
          <span>|</span>
          <div class="col">
            {{ car.fuel }}
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
